{% extends 'base.html.twig' %}

{% block title %}
	Lucky Number
{% endblock %}

{% block body %}
	<div>
		{{ phrase }}
		{{ number }}
		<br/>
		<ul>
			{% for i in num %}
				<li>{{ i }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
