{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}
	<style></style>

	<div class="container">
		<h1>
			{{ controller_name }}
		</h1>
		<form action="">
			<div class="form-group">
				<label for="descripteur">Descripteur</label>
				<input type="text" class="form-control" id="descripteur" area-describedby="descripteurHelp" placeholder="Descripteur"/>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" id="description" area-describedby="descriptionHelp" placeholder="Description"/>
			</div>
			<div class="form-group">
				<label for="prix">Prix</label>
				<input type="text" class="form-control" id="prix" area-describedby="prixHelp" placeholder="Prix"/>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary">Add</button>
				<button type="reset" class="btn btn-light">Cancel</button>
			</div>
		</form>
	</div>
{% endblock %}
