{% extends 'base.html.twig' %}

{% block title %}
	{{ article.designation }}

{% endblock %}

{% block body %}
	<div class="">
		<h1>
			{{ article.designation }}
		</h1>
		<h6>
			{{ article.Description }}
		</h6>
		<span class="text-danger">
			{{ article.prix }}
			dt
		</span>
	</div>
{% endblock %}
